.heart {
  display: inline-block;
  animation: pulse 1.5s infinite;
}

.container {
  margin: -25px 280px 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


